.Menu {
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  justify-content: center;
  list-style: none;
  margin-block-end: 2em;
  max-width: unset;
  padding-block: 1em;
}
